stage_1_train_images/
stage_1_test_images/
stage_1_validation_images/
generated_images/
training_data/
training_data/
.idea/
caption_annotation.json
object_annotation.json
validation_caption_annotation.json
validation_object_annotation.json
stage_1_train_labels.csv
.gitignore~
__pycache__/
data/